body {
  margin: 0;
  padding: 0;
  /* min-width: 500px; */
}

.App {
  text-align: center;
}

.header {
  background-color: black;
  color: aliceblue;
  padding: 0.2rem;
}

ul {
  list-style-type: none;
  padding: 0;
}
li {
  padding: 0.3rem;
}
li:hover {
  transform: scaleY(1.1);
  cursor: grab;
  font-weight: 600;
}
.grocerylist__item li {
  background-color: indianred;
}
.grocerylist__item li:nth-child(even) {
  background-color: salmon;
}
.shoppingcart__item li {
  background-color: steelblue;
}
.shoppingcart__item li:nth-child(even) {
  background-color: skyblue;
}
.amount-item {
  font-weight: 600;
}

@media (min-width: 800px) {
  .container {
    display: flex;
    flex-direction: row;
  }

  .grocerylist,
  .shoppingcart {
    width: 100%;
  }
}
