body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
}

.grocerylist,
.shoppingcart {
  width: 48%;
}

li {
  list-style-type: none;
  padding: 0.2rem;
}
.grocerylist__item li {
  background-color: indianred;
}
.grocerylist__item li:nth-child(even) {
  background-color: salmon;
}
.shoppingcart__item li {
  background-color: steelblue;
}
.shoppingcart__item li:nth-child(odd) {
  background-color: skyblue;
}
